<a href="https://colab.research.google.com/github/renatamontanhana/Pandas_analisando_dados/blob/main/exercicios_extras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'CÃ¡tia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'],
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'],
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35],
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6],
                        'Aprovado': [True, False, False, True, True, True, False, False]},
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [4]:
selecao = alunos['Aprovado'] == True
aprovados = alunos[selecao]
aprovados

    Nome  Idade Sexo  Notas  Aprovado
0    Ary     15    M    7.5      True
3   Beto     32    M   10.0      True
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

In [7]:
selecao = ((alunos.Idade > 10) &
    (alunos.Idade < 20)) | (alunos.Idade >= 40)
alunos[selecao]

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
2   Denis     56    M    5.0     False
4   Bruna     42    F    8.2      True
6  Carlos     19    M    6.0     False

In [8]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())

In [9]:
'l1 l2 l3 l4'.split()

['l1', 'l2', 'l3', 'l4']

In [10]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [11]:
df['c1']

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

In [12]:
type(df['c1'])

pandas.core.series.Series

In [13]:
df[['c3', 'c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   8
l4  15  13

In [14]:
type(df[['c3', 'c1']])

pandas.core.frame.DataFrame

In [17]:
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [18]:
df[1:][['c3', 'c1']]

    c3  c1
l2   7   5
l3  11   8
l4  15  13

In [19]:
df.loc['l3']

c1     8
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [20]:
df.loc[['l3', 'l2']]

    c1  c2  c3  c4
l3   8  10  11  12
l2   5   6   7   8

In [21]:
df.iloc[0, 1]

2