<a href="https://colab.research.google.com/github/renatamontanhana/Pandas_analisando_dados/blob/main/exercicios_extras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'CÃ¡tia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'],
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'],
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35],
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6],
                        'Aprovado': [True, False, False, True, True, True, False, False]},
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [3]:
selecao = alunos['Aprovado'] == True
aprovados = alunos[selecao]
aprovados

    Nome  Idade Sexo  Notas  Aprovado
0    Ary     15    M    7.5      True
3   Beto     32    M   10.0      True
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

In [4]:
selecao = ((alunos.Idade > 10) &
    (alunos.Idade < 20)) | (alunos.Idade >= 40)
alunos[selecao]

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
2   Denis     56    M    5.0     False
4   Bruna     42    F    8.2      True
6  Carlos     19    M    6.0     False

In [5]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())

In [6]:
'l1 l2 l3 l4'.split()

['l1', 'l2', 'l3', 'l4']

In [7]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [8]:
df['c1']

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

In [9]:
type(df['c1'])

pandas.core.series.Series

In [10]:
df[['c3', 'c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   8
l4  15  13

In [11]:
type(df[['c3', 'c1']])

pandas.core.frame.DataFrame

In [12]:
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [13]:
df[1:][['c3', 'c1']]

    c3  c1
l2   7   5
l3  11   8
l4  15  13

In [14]:
df.loc['l3']

c1     8
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [15]:
df.loc[['l3', 'l2']]

    c1  c2  c3  c4
l3   8  10  11  12
l2   5   6   7   8

In [16]:
df.iloc[0, 1]

2

In [17]:
df.loc[['l3', 'l1'], ['c4', 'c1']]

    c4  c1
l3  12   8
l1   4   1

In [18]:
df.iloc[[2,0], [3,0]]

    c4  c1
l3  12   8
l1   4   1

In [19]:
selecao = (alunos.Aprovado == True) & (alunos.Sexo == 'F')
aprovadas = alunos[selecao]
aprovadas

    Nome  Idade Sexo  Notas  Aprovado
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

In [20]:
selecao = alunos['Aprovado'] == False
reprovados = alunos.loc[selecao, ['Nome', 'Sexo', 'Idade']]
reprovados

     Nome Sexo  Idade
1   CÃ¡tia    F     27
2   Denis    M     56
6  Carlos    M     19
7   Alice    F     35

In [21]:
selecao = alunos['Aprovado'] == False
reprovados = alunos[['Nome', 'Sexo', 'Idade']][selecao]
reprovados

     Nome Sexo  Idade
1   CÃ¡tia    F     27
2   Denis    M     56
6  Carlos    M     19
7   Alice    F     35

In [22]:
alunos.sort_values(by = ['Idade'], inplace = True)
alunos.iloc[:3]

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
6  Carlos     19    M    6.0     False
5    Dara     21    F    7.0      True

In [23]:
imoveis = pd.DataFrame([['Apartamento', None, 970, 68],
                        ['Apartamento', 2000, 878, 112],
                        ['Casa', 5000, None, 500],
                        ['Apartamento', None, 1010, 170],
                        ['Apartamento', 1500, 850, None],
                        ['Casa', None, None, None],
                        ['Apartamento', 2000, 878, None],
                        ['Apartamento', 1550, None, 228],
                        ['Apartamento', 2500, 880, 195]],
                        columns = ['Tipo', 'Valor', 'Condominio', 'IPTU'])

In [24]:
imoveis.dropna(subset = ['Valor'], inplace = True)
imoveis

          Tipo   Valor  Condominio   IPTU
1  Apartamento  2000.0       878.0  112.0
2         Casa  5000.0         NaN  500.0
4  Apartamento  1500.0       850.0    NaN
6  Apartamento  2000.0       878.0    NaN
7  Apartamento  1550.0         NaN  228.0
8  Apartamento  2500.0       880.0  195.0

In [25]:
imoveis = imoveis.fillna({'Condominio': 0, 'IPTU': 0})
imoveis

          Tipo   Valor  Condominio   IPTU
1  Apartamento  2000.0       878.0  112.0
2         Casa  5000.0         0.0  500.0
4  Apartamento  1500.0       850.0    0.0
6  Apartamento  2000.0       878.0    0.0
7  Apartamento  1550.0         0.0  228.0
8  Apartamento  2500.0       880.0  195.0

In [26]:
imoveis.index = range(imoveis.shape[0])
imoveis

          Tipo   Valor  Condominio   IPTU
0  Apartamento  2000.0       878.0  112.0
1         Casa  5000.0         0.0  500.0
2  Apartamento  1500.0       850.0    0.0
3  Apartamento  2000.0       878.0    0.0
4  Apartamento  1550.0         0.0  228.0
5  Apartamento  2500.0       880.0  195.0

In [27]:
imoveis = imoveis[~selecao]

<ipython-input-27-0dd22f435f90>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  imoveis = imoveis[~selecao]

In [29]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)

In [30]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [31]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [32]:
s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [33]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [34]:
s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [35]:
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [36]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [39]:
s1 = s.fillna(method = 'ffill', limit = 2)

In [40]:
s1

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [41]:
s1.fillna(method = 'bfill', limit = 1)

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64